body {
  background-color: aquamarine;
}
nav {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}
#nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav1 img {
  width: 100px;
}
#nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  font-size: 14pt;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
